body {
    background: rgb(255,255,255);
    background: linear-gradient(267deg, rgba(255,255,255,1) 0%, rgba(255,214,140,1) 95%);
    display: inline-block;
  }
h1 {
  color: lightgreen;
  text-align: center;
  font-size: 48px;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
 }

 div.library:hover {
   transform: scale(1.4);
   transition: width 1s, height 1s, transform 1.5s;
 }
 .libimg {
  object-fit: cover;
  width: 248px;
  height: 139px;
 }
 textarea {
   margin: auto;
 }
 .library {
   display: inline-block;
   background: linear-gradient(267deg, rgb(255,214,140,1) 0%, rgba(84,158,14,1) 95%);
   width: 241px;
   height: 133px;
   box-shadow: 5px 3px;

 }
 button {
   margin-top: 15px;
   margin-left: 5px;
   margin-bottom: 5px;
   width: 255px;
   background: linear-gradient(267deg, rgba(255,255,255,1) 0%, rgba(255,214,140,1) 95%);
 }
 .topnav {
  opacity: 100;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background: linear-gradient(267deg, rgba(255,255,255,1) 0%, rgba(255,214,140,1) 95%);
}

.topnav a {
  float: left;
  color: #99423a;
  text-align: center;
  padding: 6px 12px;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.topnav a:hover {
  background-color: lightsalmon;
  color: mediumseagreen;
}

.topnav a.active {
  background-color: mediumseagreen;
  color: lightsalmon;
}
}
div#container {
    display: table-caption;
    padding: 2% 2% 2% 2%;
    background: linear-gradient(267deg, rgba(255,255,255,1) 0%, rgba(255,214,140,1) 95%);
    box-shadow: 1px 2px;
  }