body {
    background: rgb(255,255,255);
    background: linear-gradient(267deg, rgba(255,255,255,1) 0%, rgba(255,214,140,1) 95%);
    display: inline-block;
  }
p {
  text-align: center;
  font-family: monospace;
  font-size: 25px;
}
p#count {
  text-align: center;
  font-family: monospace;
  background: black;
  color: white;
}
h1 {
  color: lightgreen;
  text-align: center;
  font-size: 48px;
  font-family: monospace;
}
h2 {
  font-family: monospace;
  font-size: 28px;
 }

 div.library:hover {
   transform: scale(1.4);
   transition: width 1s, height 1s, transform 1.5s;
 }
 .libimg {
  object-fit: cover;
  width: 248px;
  height: 139px;
 }
 textarea {
   margin: auto;
 }
 .library {
   display: inline-block;
   width: 241px;
   height: 133px;
 }
 button {
   margin-top: 15px;
   margin-left: 5px;
   margin-bottom: 5px;
   width: 255px;
   background: linear-gradient(267deg, rgba(255,255,255,1) 0%, rgba(255,214,140,1) 95%);
 }
 .topnav {
opacity: 100;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-size: 30px;
    font-family: monospace;
    background: linear-gradient(267deg, rgba(255,255,255,1) 0%, rgba(255,214,140,1) 95%);
}
.topnav a {
float: left;
    color: #99423a;
    font-size: 20px;
    text-align: center;
    padding: 6px 12px;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.topnav a:hover {
  background-color: lightsalmon;
  color: mediumseagreen;
}
.topnav a.active {
  background-color: mediumseagreen;
  color: lightsalmon;
}
div#container {
    display: table-caption;
    padding: 2% 2% 2% 2%;
  }
